#palette-extractor-app
  .container-small.text-center
    form action="/upload" enctype="multipart/form-data" method="POST" 
      .input.input-fullWidth
        input#file accept="image/png, image/jpeg" name="file" type="file" v-on:change="imageUploaded" :disabled="loading"

      .row 
        .col.aligner.aligner--centerVertical.aligner--contentEnd
          label.label for="color_number"  Number of Colors
        .col.aligner.aligner--centerVertical
          .input.input-fullWidth
            input#color_number min="2" placeholder="Input" type="number" value="5" :disabled="loading"
      

      button.button.button--primary :disabled="loading || !hasImage" v-on:click="formSubmitted"  Submit
      button.button.button--secondary :disabled="loading || !hasImage" v-on:click="exportImage"  Export
      
  #img-container.img-container.text-center v-if="!loading" 
    .aligner.aligner--spaceAround
      color-panel v-bind:color="color" v-for=("color in colors") 
    img v-bind:src="imageSrc" /
    .aligner.aligner--spaceAround
      color-panel v-bind:color="color" v-for=("color in colors") 

  .container 
    .loadingSpinner v-if="loading" 
      span.loadingSpinner-inner
      span.loadingSpinner-inner
      span.loadingSpinner-inner
      span.loadingSpinner-inner
