head
  base href="/"
  link href="styles.css" media="all" rel="stylesheet" type="text/css" 
  link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  link href="https://fonts.googleapis.com/css?family=Zilla+Slab" rel="stylesheet"
  script src="https://unpkg.com/vue@2.6.14" 
  script src="js/app.js" 
  script src="js/html2canvas.js" 
  title Palette Extractor
body
  header.topnav
    .container
      .topnav__brand 
        span Palette Extractor
      .topnav__buttons
        a.gitlab href="https://gitlab.com/paaaco/palette-extractor"
          i.fa.fa-gitlab

  .main-content.container
    == yield

  footer 
    .container
      p
        | created by 
        a(href="https://paaaco.gitlab.io") Paco Halili
