$ff-base: 'Zilla Slab', sans-serif !default;

@import '../../node_modules/sierra-library/lib/index';
@import 'topnav';

label {
    margin-bottom: 20px;
}

.main-content {
    margin-bottom: 40px;
}

.img-container {
    max-height: inherit;
    min-width: 200px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    img { width: 100%; }
}

button:disabled {
    &:hover { 
        cursor: not-allowed;
        background-color: #c9c9c9;
    }
    background-color: #c9c9c9;
}