.topnav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    overflow: hidden;
    z-index: 99;

    &__buttons { float: right; }
    &__brand { float: left; }

    a, span {
        display: inline-block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        
        i.fa { line-height: inherit; }
        &.gitlab { 
            color: #fc6d26; 
            &:hover { color: #fca121; }
        }
    }
    
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
}
  
body {
    padding-top: 70px;
}

footer {
    position: fixed;
    bottom: 0;
}